<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Create an account</h1>
        <div id="createaccount">
            <form action="/createaccount" method="POST">
                <h1>Create Account</h1>
                <p>
                    <label for="name_register">Your name: </label>
                    <input type="text" name="name_register" id="name_register" class="form-control" placeholder="Enter your full name" required>
                </p>

                <p>
                    <label for="email_register">Your email adress: </label>
                    <input type="email" name="email_register" id="email_register" class="form-control" placeholder="Enter your email adress" required>
                </p>

                <p>
                    <label for="password_register">Enter a new password: </label>
                    <input type="password" name="password_register" id="password_register" class="form-control" placeholder="Enter a valid password" required>
                </p>

                <p>
                    <input type="submit" value="register">
                </p>

                <p>
                    Already have an account? <br>
                    <a href="http://localhost:3000/login"><input type="button" value="Login"></a>
                </p>

            </form>
        </div>
       
    </div>
</body>
</html>