<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>

    <div id="welcome">
        <h1>Welcome to usedStuff</h1>
            <p>This is your site to trade used things</p>
        <h1>Want it?</h1>
            <p>Create an account to make your deals</p>
        <button>Create an account</button>
    </div>
</body>
</html>