<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <div id="welcome" class="welcome">
        <h1>Welcome to usedStuff</h1>
            <p>This is your site to trade used things</p>
        <h1>Want it?</h1>
            <p>Create an account to make your deals</p>
            <a href="http://localhost:3000/createaccount"><input type="button" value="Create an account"></a>
        <h1>Do you already have an account?</h1>
        <a href="http://localhost:3000/login"><input type="button" value="Login"></a>
    </div>

</body>
</html>