<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        
        <div id="login">
            <form action="/login" method="POST">
                <h1>Login</h1>
               
                <p>
                    <label for="email_login">Your email adress: </label>
                    <input type="email" name="email_login" id="email_login" class="form-control" placeholder="Enter your email adress" required>
                </p>

                <p>
                    <label for="password_login">Enter a new password: </label>
                    <input type="password" name="password_login" id="password_login" class="form-control" placeholder="Enter a valid password" required>
                </p>

                <p>
                    <input type="submit" value="Login">
                </p>

                <p>
                    Do not have an account yet? <br>
                    <a href="http://localhost:3000/createaccount"><input type="button" value="Create account"></a>
                </p>

            </form>
        </div>
       
    </div>
</body>
</html>